/*  ================================ ROOT STYLES HERE ================================ */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;600;800&display=swap");

:root {
  --primary: #11998e;
  --secondary: #38ef7d;
  --white: #ffffff;
  --gray: #9b9b9b;
  --green: #448e9d;
  --oceanGreen: #00c48c;
  --red: #ff647c;
  --grey: #eaeff5;
  --yellow: #fac546;
  --blue: #73e7ed;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans";
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

/* ========================================== UTILITY CLASSES HERE ========================================== */
.d-flex {
  display: flex;
}

.d-flex__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.d-flex__column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.m-xy1 {
  margin: 9px 0px;
}
.m-xy {
  margin: 0px 20px;
}

.mr-10 {
  margin-right: 10px;
}

.ml-25 {
  margin-left: 25px;
}

.mb-10 {
  margin-bottom: 7px;
}

.ml-40 {
  margin-left: 40px;
}

.mr-15 {
  margin-right: 15px;
}

.ml-86 {
  margin-left: 76px;
}

.mr-20 {
  margin-right: 20px;
}

.mt-1 {
  margin-top: 10px;
}

.green {
  color: var(--green);
}
.red {
  color: var(--red);
}

.yellow {
  color: var(--red);
}

.mt-2 {
  margin-top: 20px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-35 {
  margin-top: 35px;
}

.m-22 {
  margin: 0px 22px;
}

.m-25 {
  margin: 20px 0px;
}

.h-4 {
  font-weight: 600;
  font-size: 40px;
}

.h-2 {
  font-weight: 600;
  font-size: 25px;
}
.h-1 {
  font-weight: 600;
  font-size: 20px;
}

.font-w1 {
  font-weight: 100;
}

.font-w5 {
  font-weight: 500;
}

.font-w6 {
  font-weight: 600;
}

.f-12 {
  font-size: 14px;
}

.f-15 {
  font-size: 15px;
}

.cursor-p {
  cursor: pointer;
}

.sidebar {
  width: 300px;
}

.greenPointContainer {
  width: 40vw;
  padding: 0px 12px;
}

.mapContainer {
  width: 60vw;
  padding: 0px 12px;
}
.container {
  width: 85vw;
}

/* ======================================================================================================================================================================== */



/*  ================================ GREEN POINT COMPONENTS STYLES HERE ================================ */
.greenPoint {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.greenPointHeading {
  font-weight: 600;
  font-size: 45px;
}

.greenPointButton {
  background: var(--oceanGreen);
  padding: 15px 20px;
  border-radius: 13px;
  color: white;
}

.greenPointButton:hover{
  background: #0c976f;

}

/* SEARCH AND INPUT */

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}
.form__field {
  font-family: inherit;
  width: 200%;
  border: 0;
  border-bottom: 1px solid var(--gray);
  outline: 0;
  font-size: 1.3rem;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form__field::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: 1rem;
  cursor: text;
  top: 20px;
}
.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.5s;
  font-size: 1rem;
  color: var(--green);
}
.form__field:focus {
  padding-bottom: 6px;
  border-width: 3px;
  border-image: linear-gradient(to right, var(--primary), var(--secondary));
  border-image-slice: 1;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: var(--green);
}
/* reset input */
.form__field:required,
.form__field:invalid {
  box-shadow: none;
}



/* ================================ GREEN POINT CARD STYLES HERE ================================ */

.card_Layout {
  background: #ffffff;
  border: 1px solid #f7f8fc;
  box-sizing: border-box;
  box-shadow: 0px 8px 16px rgb(0 0 0 / 4%);
  border-radius: 8px;
}

.card__Img {
  height: 155px;
  background: url("https://i.ibb.co/cC8sXZQ/Map.png") no-repeat center center /
    cover;
  width: 250px;
}

.card__Text {
  padding: 10px 20px;
  width:355px;
}

.greenpoint__card {
  overflow-y: auto;
  height: 65vh;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.greenpoint__card::-webkit-scrollbar {
  display: none;
}

select.chakra-select.css-173b75c {
  height: 55px;
}



/* ================================ ADD GREEN POINT CONTAINER STYLES HERE ================================ */

.select__container {
  display: flex;
  align-items: center;
  width: 100%;
}

.chakra-select__wrapper.css-42b2qy {
  width: 80vw;
  margin-right: 20px;
}

.chakra-form-control.css-1kxonj9 {
  width: 18vw;
  margin-left: 15px;
}

input#amount {
  height: 55px;
}

button.chakra-button.css-f6n2t5 {
  background: var(--oceanGreen);
  width: 100%;
  height: 50px;
  border-radius: 6px;
}

button.chakra-button.css-f6n2t5:hover {
  background: #0c976f;
}

.greenpoint__add {
  color: var(--green);
  float: right;
  padding: 17px 0px;
  font-size: 17px;
}




/* ================================ MODAL CONTAINER FOR SINGLE POINT HERE ================================ */

.chakra-modal--header {
  padding-bottom: 5px !important;
}

.chakra-modal--header::before {
  content: url("https://svgshare.com/i/_CJ.svg");
  background: var(--oceanGreen);
  border-radius: 16px;
  padding: 10px;
  position: relative;
  z-index: 100000;
  left: -10px;
  top: 13px;
  margin-right: 10px;
}

button.chakra-modal__close-btn.css-b6acrs {
  margin-top: 6px;
}

.modal--info {
  border: 1px #eaeff5 solid;
  padding: 8.5px;
  width: 410px;
}

.modal__left {
  width: 600px;
  margin-right: 10px;
}

.modal__right {
  margin: 18px 12px 0px 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 570px;
  -ms-overflow-style: none !important; /* IE and Edge */
  scrollbar-width: none !important; /* Firefox */
}

.modal__right::-webkit-scrollbar {
  display: none;
}

.modal__icon {
  border: 1px var(--red) solid;
  border-radius: 100%;
  padding: 10px;
}

.modal__icon-1 {
  border: 1px var(--yellow) solid;
  border-left: 1px var(--grey) solid;
  border-bottom: 1px var(--grey) solid;
  border-top: 1px var(--grey) solid;
  border-radius: 100%;
  padding: 10px;
}

.modal__icon-2 {
  border: 1px var(--oceanGreen) solid;
  border-left: 1px var(--grey) solid;
  border-bottom: 1px var(--grey) solid;
  /* border-top: 1px var(--grey) solid; */
  border-radius: 100%;
  padding: 10px;
}

.modal__icon > img {
  height: 25px;
  width: 25px;
  max-width: 100px;
}

.modal__icon-1 > img {
  height: 25px;
  width: 25px;
  max-width: 100px;
}

.modal__icon-2 > img {
  height: 25px;
  width: 25px;
  max-width: 100px;
}

.modal__right--para {
  width: 155px;
  border-left: 2px solid var(--blue);
  padding: 10px;
}

.modal__right--div {
  background: var(--white);
  border: 1px solid #f7f8fc;
  box-sizing: border-box;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
  padding: 20px 13px;
  width: 350px;
}

.modal__right--deposite {
  background: #f7f8fc;
  border-radius: 6px;
  display: inline;
  padding: 5px 20px;
  font-weight: 600;
}

.avatar {
  background-color: #a0ecd0;
  border-radius: 100%;
  height: 25px;
  width: 25px;
}




/* ================================================================ MAP STYLES HERE ================================================================ */
.mapContainer {
  height: "85vh";
  width: "100%";
}




/*   ================================================================ CUSTOM SPINNER STYLES HERE  ================================ */
.spinner {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
}
