@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;600;800&display=swap");

:root {
  --primary: #11998e;
  --secondary: #38ef7d;
  --white: #fff;
  --gray: #9b9b9b;
  --green: #448e9d;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans";
  box-sizing: border-box;
}

/* ========================================== UTILITY CLASSES HERE ========================================== */
.d-flex {
  display: flex;
}

.mr-10 {
  margin-right: 10px;
}
.ml-40 {
  margin-left: 40px;
}

.mr-15 {
  margin-right: 15px;
}

.mr-20 {
  margin-right: 20px;
}

.mt-1 {
  margin-top: 10px;
}

.green {
  color: var(--green);
}

.mt-2 {
  margin-top: 20px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-35 {
  margin-top: 35px;
}

.h-4 {
  font-weight: 600;
  font-size: 40px;
}

.h-2 {
  font-weight: 600;
  font-size: 25px;
}
.h-1 {
  font-weight: 600;
  font-size: 20px;
}

.font-w1 {
  font-weight: 100;
}

.font-w5 {
  font-weight: 500;
}

.font-w6 {
  font-weight: 600;
}

.f-15 {
  font-size: 15px;
}

.sidebar {
  width: 15vw;
}

.greenPointContainer {
  width: 40vw;
  padding: 0px 12px;
}

.mapContainer {
  width: 60vw;
  padding: 0px 12px;
}
.container {
  width: 85vw;
}

/* ======================================================================================================================================================================== */

/* GREEN POINT COMPONENTS STYLES HERE */
.greenPoint {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.greenPointHeading {
  font-weight: 600;
  font-size: 45px;
}

.greenPointButton {
  background: #00c48c;
  padding: 20px 26px;
  border-radius: 13px;
  color: white;
}

/* SEARCH AND INPUT */

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}
.form__field {
  font-family: inherit;
  width: 200%;
  border: 0;
  border-bottom: 1px solid var(--gray);
  outline: 0;
  font-size: 1.3rem;
  color: var(--gray) !important;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form__field::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: 1rem;
  cursor: text;
  top: 20px;
}
.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.5s;
  font-size: 1rem;
  color: var(--green);
}
.form__field:focus {
  padding-bottom: 6px;
  border-width: 3px;
  border-image: linear-gradient(to right, var(--primary), var(--secondary));
  border-image-slice: 1;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: var(--green);
}
/* reset input */
.form__field:required,
.form__field:invalid {
  box-shadow: none;
}

/* GREEN POINT CARD */

.card_Layout {
  background: #ffffff;
  border: 1px solid #f7f8fc;
  box-sizing: border-box;
  box-shadow: 0px 8px 16px rgb(0 0 0 / 4%);
  border-radius: 8px;
}

.card__Img {
  height: 155px;
  background: url("https://svgshare.com/i/_BY.svg") no-repeat center center /
    cover;
  width: 300px;
}

.card__Text {
  padding: 10px 20px;
}

.greenpoint__card {
  overflow-y: auto;
  height: 65vh;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.greenpoint__card::-webkit-scrollbar {
  display: none;
}

.chakra-select__icon-wrapper.css-zj2dqk {
  margin-top: 10px;
}

select.chakra-select.mt-25.css-173b75c {
  height: 55px;
}